body {
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Outfit";
}

.container {
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  width: 320px;
  height: 497px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.qr-code {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px;
}

.qr-code > img {
  width: 100%;
  height: 100%;
}

.title {
  width: 90%;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 0px;
  color: hsl(218, 44%, 22%);
}

.description {
  width: 90%;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
}
